* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.125rem;
    color: rgb(65, 63, 63);
}

html {
    scroll-behavior: smooth
}

body {
    font-family: open sans;
    width: 100%;
    background-color: #2046332d;
}

.contenedor {
    padding: 2rem 0;
    width: 90%;
    max-width: 62.5rem;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #137c13;
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 3.75rem;
}

/*Whatsapp icon*/

.btn-wsp {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 200;
    border-radius: 50%;
    height: 2.5rem;
    box-shadow: #fff 0.125rem 0.125rem 0.5625rem;
}

/*Header*/

nav {
    text-align: right;

    scroll-behavior: smooth;
    position: fixed;
    background-color: #414141a9;
    z-index: 3;
    border-radius: 0 0 0.3125rem 0.3125rem;
    padding: 0.1563rem 0.3125rem;
}

nav>a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    margin-right: 0.625rem;
    scroll-behavior: smooth;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem black;
}

nav>a:hover {
    text-decoration: underline;
}

.container {
    position: relative;
    border-color: #fff;
    display: flex;
    width: 100%;
    height: 50vw;
    background-color: rgb(255, 255, 255);
    background-image: url(/img/homeopathy-Banner.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.background {
    width: 100%;
    height: 100vh;
}

.nav {
    position: absolute;
    align-items: center;
    margin-left: 7%;
}

.textos-animados {
    animation: textos-animados 2s ease-in-out;
}

@keyframes textos-animados {
    0% {
        margin-top: -15rem;
    }

    100% {
        margin-top: 0%;
    }
}

.textos-animados .dr {
    position: absolute;
    margin-left: 7%;
    margin-top: 4.5rem;
    color: #fff;
    font-family: Playfair Display;
    font-size: 2.375rem;
    width: auto;
    animation: dr 2s ease-out;
    z-index: 100;
    text-shadow: 0.125rem 0.125rem 0.125rem black;
}

.textos-animados .centro {
    position: absolute;
    margin-left: 7%;
    margin-top: 8rem;
    color: #fff;
    font-weight: 100;
    font-size: 1.5625rem;
    animation: centro 3s;
    animation-delay: 1s;
    text-shadow: 0.125rem 0.125rem 0.125rem black;
}

/*About us*/

.contenedor-sobre-nosotros1 {
    display: flex;
    justify-content: space-evenly;
}

.contenedor-sobre-nosotros2 {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us1 {
    width: 50%;
    object-fit: cover;
    border-radius: 0.3125rem;
    max-height: 97vh;
}

.imagen-about-us2 {
    width: 50%;
    object-fit: cover;
    border-radius: 0.3125rem;
    max-height: 130vh;
    margin-top: 3rem;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos1 h3 {
    margin-bottom: 0.9375rem;

}

.contenido-textos2 h3 {
    margin-bottom: 0.9375rem;
}

.contenido-textos1 h3 span {
    background: #137c13;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 1.875rem;
    height: 1.875rem;
    padding: 0.25rem;
    box-shadow: 0 0 0.375rem rgba(0, 0, 0, .5);
    margin-left: 2rem;
}

.contenido-textos2 h3 span {
    background: #137c13;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 1.875rem;
    height: 1.875rem;
    padding: 0.125rem;
    box-shadow: 0 0 0.375rem rgba(0, 0, 0, .5);
    margin-left: 0.1875rem;
}

.contenido-textos1 p {
    font-weight: 300;
    text-align: justify;
    margin-left: 2rem;
}

.contenido-textos2 p {
    font-weight: 300;
    text-align: justify;
    margin-right: 2rem;
}

/*Galeria*/

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 45%;
    max-height: auto;
    margin-bottom: 0.625rem;
    position: relative;
    cursor: pointer;
}

.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.3125rem;
}

.imagen-port p {
    position: absolute;
    color: #fff;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: #15161648;
    border-radius: 0.3125rem;
    padding: 0.625rem 0.625rem;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    transform: scale(0);
    background: #bbbebd2d;
    backdrop-filter: blur(2em);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 0.3125rem;
}

.hover-galeria img {
    width: 3.125rem;
}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/*Nuestras Certificaciones*/

.background-zen {}

.zen {
    display: flex;
    position: relative;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
    align-items: center;
}

.card {
    flex-direction: column;
    display: flex;
    width: 60%;
    height: 18.75rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.3125rem;
    background: rgb (250, 250, 250, .5);
    backdrop-filter: blur(.3em);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.card img {
    width: 18.75rem;
    height: 18.75rem;
    object-fit: cover;
    border: 0.1875rem solid #fff;
    border-radius: 0.3125rem;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Conozca mas*/

.about-services {
    background: #bbbebd2d;
    padding-bottom: 1.875rem;
}

.servicio-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind {
    margin: 1rem 0rem;
    width: 90%;
    text-align: center;
}

.servicio-ind img {
    width: 100%;
}

.servicio-ind h3 {
    font-size: 1.875rem;
    margin-bottom: 2rem;
    color: #137c13;
}

.servicio-ind p {
    margin-top: 2rem;
    font-weight: 300;
    text-align: justify;
}

/*footer*/

footer {
    background: #414141;
    padding: 3.75rem 0 1.875rem 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 3.125rem;
    border-bottom: 0.0625rem solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo a {
    text-decoration: none;
    color: rgb(205, 209, 223);
}

.content-foo h4 {
    color: #fff;
    border-bottom: 0.1875rem solid #d1d3d13d;
    padding: .7em;
    margin-bottom: 0.625rem;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 1.25rem;
    margin: 1.25rem 0 0 0;
    color: #9e9797;
}

.telefono-btn {
    margin: .5em 0 0 0;
    padding: .5em 1em;
    border-radius: .5em;
    background-color: #137c13;
    border: none;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem black;
}

.telefono-btn:hover {
    background-color: #137c1377;
}

.email-btn {
    margin: .5em 0 0 0;
    padding: .5em 1em;
    border-radius: .5em;
    background-color: #137c13;
    border: none;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem black;
}

.email-btn:hover {
    background-color: #137c1377;
}

@media screen and (max-width:900px) {

    .container {
        width: 100%;
        height: 60vw;
    }

    .textos-animados .dr {
        font-size: 1.875rem;
        margin-top: 3rem;
        text-shadow: 0.125rem 0.125rem 0.125rem black;
    }

    .textos-animados .centro {
        font-size: 1.25rem;
        margin-top: 6rem;
        text-align: center;
        text-shadow: 0.125rem 0.125rem 0.125rem black;
    }

    .contenedor-sobre-nosotros1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-sobre-nosotros1 h3 span {
        margin-top: 2rem;
        margin-left: 0rem;
    }

    .contenedor-sobre-nosotros2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos1 {
        width: 90%;
    }

    .sobre-nosotros .contenido-textos2 {
        width: 90%;
    }

    .contenido-textos1 p {
        font-weight: 300;
        text-align: justify;
        margin-left: 0rem;
    }

    .contenido-textos2 p {
        font-weight: 300;
        text-align: justify;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .imagen-about-us1 {
        width: 90%;
        margin-bottom: 2rem;
    }

    .imagen-about-us2 {
        width: 90%;
    }

    /*Galeria*/
    .imagen-port {
        width: 90%;
    }

    .hover-galeria {
        border-radius: 0.3125rem;
    }

    /*Clientes*/
    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card {
        width: 90%;
    }

    .cards .card:first-child {
        margin-bottom: 1.875rem;
    }

    /*Servicios*/
    .servicio-cont {
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind {
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1),
    .servicio-ind:nth-child(2) {
        margin-bottom: 3.75rem;
    }

    .servicio-ind img {
        width: 90%;
    }

    main .sobre-nosotros {
        padding: 0.625rem 0 1.875rem 0;
    }

    .contenedor-footer {
        flex-direction: column;
    }

    .contenedor-footer h4 {
        border: none;
    }
}

@media screen and (max-width:500px) {
    .container {
        position: relative;
        border-color: #fff;
        display: flex;
        width: 100vw;
        height: 70vw;
        background-color: rgb(255, 255, 255);
        background-image: url(/img/homeopathy-Banner.jpg) no-repeat center center / cover;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    nav {
        text-align: center;
        padding: 0 3px 10px 3px;
        margin: 0 16px 0 0;
    }

    nav>a {
        margin-right: 2px;
        font-size: 15.5px;
    }

    .textos-animados .dr {
        font-size: 1.25rem;
        margin-top: 2.2rem;
        text-shadow: 0.125rem 0.125rem 0.125rem black;
    }

    .textos-animados .centro {
        font-size: 0.75rem;
        margin-top: 4rem;
        text-align: center;
        text-shadow: 0.125rem 0.125rem 0.125rem black;
    }

    /*About us*/
    .imagen-about-us {
        margin-bottom: 3.75rem;
        width: 95%;
    }

    .sobre-nosotros .contenido-textos {
        width: 95%;
    }

    main .sobre-nosotros {
        padding: 0 0 1.875rem 0;
    }

    /*Portafolio*/
    .imagen-port {
        width: 100%;
    }

    .imagen-port p {
        font-size: 0.8125rem;
    }

    .hover-galeria {
        border-radius: 0.3125rem;
    }

    /*Clients*/
    .cards .card {
        height: 28.125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img {
        width: 5.625rem;
        height: 5.625rem;
    }

    /*Footer*/
    .contenedor-footer {
        flex-direction: column;
        border: none;
    }

    .content-foo {
        margin-bottom: 1.25rem;
        text-align: center;
    }

    .content-foo p {
        color: #ccc;
        border-bottom: 0.0625rem solid #f2f2f2;
        padding-bottom: 1.25rem;
    }

    .titulo-final {
        font-size: 1.25rem;
    }
}